---
/*<!-- <li>
            <a
                href="https://www.linkedin.com/in/tomer-nahum-4739b323b/"
                data-umami-event="go to linkedin"
            >
                LinkedIn
            </a>
        </li> -->*/
---

<style>
    html {
        color-scheme: light dark;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
        box-sizing: border-box;
    }
    body {
    }
    #main {
        max-width: 36rem;
        margin: auto;
        /* padding: .25rem; */
    }

    h3,
    ul {
        margin-bottom: 0rem;
        margin-top: 0rem;
    }
    li {
        margin-bottom: 0.5rem;
        margin-top: 0.3rem;
    }

    h1 {
        text-decoration: underline;
        width: fit-content;
        padding: 0.1rem 0.25rem;

        /* background-color:rgba(78, 196, 0, 0.3);  */
        background-color: #00ff1a4a;
        /* background-color: #a8ffbbce; */
    }

    @media (prefers-color-scheme: dark) {
        h1 {
            background-color: #3fe1802a;
            background-color: #00ff7743;
        }
    }
</style>
<main id="main">
    <h1>ttools</h1>
    <h3>Online tools</h3>
    <ul>
        <li>
            <a href="https://chat.ttools.io" data-umami-event="go to chat"
                >Realtime Encrypted Chatrooms</a
            >
        </li>
        <li>
            <a
                href="https://universe-splitter.ttools.io"
                data-umami-event="go to universe-splitter"
                >Quantum Universe Splitter</a
            >
            <!-- (Random number generator) -->
        </li>
        <li>
            <a
                href="https://youtube.ttools.io"
                data-umami-event="go to youtube embed viewer"
                >Simple Youtube Embed Viewer</a
            >
        </li>
        <li>
            <a
                href="https://multiplestopwatches.ttools.io"
                data-umami-event="go to stopwatches"
                >Multiple Stopwatches Time Tracker</a
            >
        </li>
        <li>
            <a
                href="https://simple-link-pages.ttools.io"
                data-umami-event="go to simple link pages">Simple Link Pages</a
            >
        </li>
    </ul>

    <h3 style="margin-top: 2rem">Downloadable tools</h3>
    <ul>
        <li>
            <a
                href="https://github.com/tomernahum/auto-video-cutter"
                data-umami-event="go to auto-video-cutter-github"
                >Automatic Video Editor</a
            >
        </li>
        <li>
            <a
                href="https://chromewebstore.google.com/detail/simple-pip/ihbijcjpnlaeolnegpkaimbdbkickpen"
                data-umami-event="go to simple-pip-extension"
            >
                Simple Picture in Picture Extension (alpha)
            </a>
        </li>
    </ul>
    <br />
    <p>More tools to come!</p>

    <p style="margin-bottom: 4rem"></p>
    <br />

    <h3>My socials</h3>
    <ul>
        <li>
            <a
                href="https://github.com/tomernahum"
                data-umami-event="go to github">Github</a
            >
        </li>
        <li>
            <a
                href="https://bsky.app/profile/ttools.io"
                data-umami-event="go to bluesky">Bsky</a
            >,
            <a
                href="https://twitter.com/ttoolsio"
                data-umami-event="go to twitter">X</a
            >
        </li>
        <li>
            <a href="mailto: contact@ttools.io" data-umami-event="go to email"
                >Email</a
            >
        </li>
    </ul>
    <p>Feel free to contact me about anything!</p>
</main>

<script>
    console.log(`
    ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
   ██████████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
    ▒▒▒██▒▒▒▒▒█▒▒▒▒▒▒▒▒█████▒▒▒
    ▒▒▒██▒▒▒███████▒▒▒██▒▒▒███▒
    ▒▒▒██▒▒▒▒▒█▒▒▒▒▒▒▒█▒▒▒▒▒▒█▒
    ▒▒▒██▒▒▒▒▒█▒▒▒▒▒▒▒██▒▒▒██▒▒
    ▒▒▒██▒▒▒▒▒██████▒▒▒█████▒▒▒
    ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
    ▒▒▒▒▒▒▒▒▒▒▒██▒▒▒▒▒▒▒▒▒▒▒▒▒▒
    ▒▒██████▒▒▒██▒▒▒▒█████▒▒▒▒▒
    ▒▒██▒▒▒█▒▒▒██▒▒▒██▒▒▒▒▒▒▒▒▒
    ▒▒█▒▒▒▒█▒▒▒██▒▒▒▒██████▒▒▒▒
    ▒▒█▒▒▒▒█▒▒▒██▒▒▒▒▒▒▒▒██▒▒▒▒
    ▒▒██████▒▒▒██▒▒▒█████▒▒▒▒▒▒
    ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒.io
    `);
</script>
